<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
<script src = "https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href=https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/" class="navbar-brand">Food Waste</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group" ng-if="$root.expertMode">
                    <label class="navbar-text" for="difficulty">Block difficulty:</label>
                    <select id="difficulty"
                            ng-model="$root.difficulty"
                            ng-options="(value + ' (' + $root.difficultyPrefix(value) + ')') for value in [3,4,5,6,7,8,9,10]"
                            ng-change="$root.$broadcast('difficulty-change');"
                            class="form-control">
                    </select>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: $root.isActive('/tokens')}">
                    <a href="#!/tokens">Diagram</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-class="$root.$route.current.containerClass" ng-view>

</div>
