<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
    <script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js" ></script>
<script src = "https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
</head>

<link rel="stylesheet" href=https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css>

<h1>Fishery Blockchain</h1>
<table class="trades" id="initial_list" style="width:30%"></table>
<select onchange="categories()"id="selectCat">
    <option>Choose a country</option>    
</select>
<select id="selectNumber">
    <option>Choose a port</option>
</select>
<select id="selectWeight">
    <option>Choose weight</option>
</select>
<select id="selectLocation">
    <option>Choose fish type</option>
</select>
<label for="fname">Type boat name:</label>
<input type="text" id="fname" name="fname">
<input type="date" id="selectDate" name="selectDate">
<button onclick="new_item()">Enter Item</button>
<button onclick="validate2()">Finish List</button>

</table>
<div class="jail" ng-repeat="peer in vm.peers">
    <h3 class="myname">{{peer.name}}
        <peer-info ng-if="$root.expertMode" peers="vm.peers" peer-index="$index"></peer-info>
    </h3>
    <div class="row row-horizon">
        <div class="col-xs-7 tree" ng-repeat="block in peer.blocks">
            <block id="{{block.changer}}"
                   number="block.number"
                   nonce="block.nonce"
                   hash="block.hash"
                   valid="block.valid"
                   prev="!block.prev ? peer.blocks[$index-1].hash : block.prev">
            </block>
        <div class="col-xs-7 tree" style="position:absolute; left:-167px; top:150px; overflow: hidden;">
        <hr class ="liners" style="display: none;"size="6" width="35" color="black">
        </div>
        </div>
    </div>
</div>
<h3>Percentage of Fish Caught</h3>
<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>